<?xml version="1.0" encoding="UTF-8"?>

<pdfsam> 
  <info> 
    <name>PDF Split and Merge enanched</name>  
    <version>1.3.0e beta</version>  
    <build_date>16 May 2007</build_date>  
    <language>Java(TM) 2 SDK, Standard Edition, Version 1.4.2</language> 
  </info>  
  <settings> 
    <lookAndfeel> 
      <LAF>5</LAF>  
      <theme>14</theme> 
    </lookAndfeel>  
    <i18n>en_GB</i18n>  
    <plugs_absolute_dir>F:\workspace_pdfsam_enhanced\pdfsam-maine\plugins</plugs_absolute_dir>  
    <defaultjob></defaultjob>  
    <loglevel>2</loglevel> 
  </settings>  
  <adata> 
    <author> 
      <aname>Andrea Vacondio</aname>  
      <aemail>andrea.vacondio@gmail.com</aemail> 
    </author> 
  </adata> 
</pdfsam>
