<?xml version="1.0" encoding="UTF-8"?>

<pdfsam> 
  <info> 
    <name>PDF Split and Merge enanched</name>  
    <version>PDF Split and Merge basic 1.0.0-rc1</version>  
    <build_date>18 May 2008</build_date>  
    <language>Java(TM) 2 SDK, Standard Edition, Version 1.4.2</language> 
  </info>  
  <settings> 
    <lookAndfeel> 
      <LAF>5</LAF>  
      <theme>14</theme> 
    </lookAndfeel>  
    <i18n>en_GB</i18n>  
    <plugs_absolute_dir/>  
    <defaultjob></defaultjob>  
    <loglevel>10000</loglevel> 
	<checkupdates>1</checkupdates>
	<default_working_dir />
  </settings>  
  <adata> 
    <author> 
      <aname>Andrea Vacondio</aname>  
      <aemail>andrea.vacondio@gmail.com</aemail> 
    </author> 
  </adata> 
</pdfsam>
